.gradle/
.settings/
.project
.classpath
build/
bin/
/RemoteSystemsTempFiles/

src/main/.DS_Store

src/main/webapp/.DS_Store

src/main/webapp/catimages/.DS_Store

usr/servers/catastrophe-web/server.env

usr/servers/catastrophe-web/server.env
