canvas {
    border:1px solid grey;
}

.canvas-container { 
	margin:0 auto ;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.microservice {
	padding: 10px;
	margin: 10px;
	border-style: solid
}